Security Portal.json
{
    "name": "Security Portal",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 0,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Webhook Trigger to Receive Data from Form"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "From Webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "caseId",
                        "type": "text"
                    },
                    {
                        "name": "reporterName",
                        "type": "text"
                    },
                    {
                        "name": "reporterEmail",
                        "type": "text"
                    },
                    {
                        "name": "department",
                        "type": "text"
                    },
                    {
                        "name": "incidentType",
                        "type": "text"
                    },
                    {
                        "name": "description",
                        "type": "text"
                    },
                    {
                        "name": "priority",
                        "type": "text"
                    },
                    {
                        "name": "timestamp",
                        "type": "text"
                    },
                    {
                        "name": "userTimezone",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.caseId}}",
                    "1": "{{formatDate(parseDate(1.timestamp; \"YYYY-MM-DDTHH:mm:ss.SSSZ\"); \"MM/DD/YYYY hh:mm A\"; \"Asia/Karachi\")}}",
                    "2": "NEW",
                    "3": "{{1.reporterName}}",
                    "4": "{{1.reporterEmail}}",
                    "5": "{{1.department}}",
                    "6": "{{1.incidentType}}",
                    "7": "{{1.priority}}",
                    "8": "{{1.description}}",
                    "9": "{{1.userTimezone}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/1A2B3C4D5E6F7G8H9I0J",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 304,
                    "y": -385,
                    "name": "Database to store form entries"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "YOUR_SPREADSHEET_NAME"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Case ID (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Timestamp (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Status (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Reporter Name (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Reporter Email (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Department (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Incident Type (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Priority (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Description (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "User Timezone (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Your Google Sheet Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Case ID (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Timestamp (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Status (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Reporter Name (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Reporter Email (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Department (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Incident Type (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Priority (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Description (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "User Timezone (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "chatId": "Your_Chat_ID",
                "text": "<b>🔴 NEW SECURITY INCIDENT</b>\r\n━━━━━━━━━━━━━━━━━━━\r\n<b>📋 CASE ID:</b> <code>{{1.caseId}}</code>\r\n<b>⚠️ PRIORITY:</b> <code>{{upper(1.priority)}}</code>\r\n\r\n<b>👤 REPORTER:</b> {{1.reporterName}}\r\n<b>📧 EMAIL:</b> {{1.reporterEmail}}\r\n<b>🏢 DEPT:</b> {{1.department}}\r\n\r\n<b>📝 TYPE:</b> {{1.incidentType}}\r\n<b>📍 LOCATION:</b> {{1.userTimezone}}\r\n<b>⏰ TIME (PKT):</b> {{formatDate(parseDate(1.timestamp; \"YYYY-MM-DDTHH:mm:ss.SSSZ\"); \"DD MMM YYYY | hh:mm A\"; \"Asia/Karachi\")}}\r\n\r\n<b>📖 DESCRIPTION:</b>\r\n<i>{{1.description}}</i>\r\n━━━━━━━━━━━━━━━━━━━\r\n🔗 <b><a href=\"https://penbeam.github.io/security-portal/dashboard.html\">OPEN SECURITY DASHBOARD</a></b>\r\n━━━━━━━━━━━━━━━━━━━\r\n🚀 <b>ACTION:</b> Please review the case immediately.",
                "messageThreadId": "",
                "parseMode": "HTML",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": 580,
                    "y": 9,
                    "name": "Telegram Alerts Channel"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Telegram Bot connection",
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            }
                        }
                    },
                    "expect": {
                        "parseMode": {
                            "label": "HTML"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "10"
            },
            "metadata": {
                "designer": {
                    "x": 802,
                    "y": -378,
                    "name": "Sleep Module"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "to": [
                    "{{1.reporterEmail}}"
                ],
                "content": "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Security Incident Alert - {{1.caseId}}</title>\r\n    <style>\r\n        /* === MOBILE-FIRST CORPORATE STYLES === */\r\n        * {\r\n            margin: 0;\r\n            padding: 0;\r\n            box-sizing: border-box;\r\n        }\r\n        \r\n        body { \r\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; \r\n            line-height: 1.6; \r\n            color: #2d3748;\r\n            background: #f7fafc;\r\n            -webkit-font-smoothing: antialiased;\r\n            -moz-osx-font-smoothing: grayscale;\r\n            width: 100%;\r\n            min-width: 320px;\r\n        }\r\n        \r\n        .email-container {\r\n            background: #ffffff;\r\n            max-width: 680px;\r\n            margin: 0 auto;\r\n            width: 100%;\r\n        }\r\n        \r\n        /* === HEADER - MOBILE FIRST === */\r\n        .header { \r\n            background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%); \r\n            color: white; \r\n            padding: 24px 20px;\r\n            text-align: center;\r\n            border-bottom: 4px solid #4299e1;\r\n        }\r\n        \r\n        .company-logo {\r\n            font-size: 13px;\r\n            opacity: 0.9;\r\n            letter-spacing: 0.5px;\r\n            margin-bottom: 12px;\r\n            font-weight: 500;\r\n        }\r\n        \r\n        .incident-tag {\r\n            display: inline-block;\r\n            background: rgba(255, 255, 255, 0.15);\r\n            padding: 6px 14px;\r\n            border-radius: 20px;\r\n            font-size: 0.82em;\r\n            margin-top: 12px;\r\n            font-weight: 500;\r\n        }\r\n        \r\n        /* === CONTENT AREA - MOBILE FIRST === */\r\n        .content { \r\n            padding: 24px 20px;\r\n            background: #ffffff;\r\n        }\r\n        \r\n        .incident-summary {\r\n            background: #f8fafc;\r\n            border-radius: 10px;\r\n            padding: 18px;\r\n            margin-bottom: 24px;\r\n            border: 1px solid #e2e8f0;\r\n        }\r\n        \r\n        /* === INFO GRID - RESPONSIVE === */\r\n        .info-grid {\r\n            display: grid;\r\n            grid-template-columns: 1fr;\r\n            gap: 16px;\r\n            margin-bottom: 24px;\r\n        }\r\n        \r\n        .info-card {\r\n            background: #f8fafc;\r\n            border-radius: 8px;\r\n            padding: 16px;\r\n            border-left: 4px solid #4299e1;\r\n        }\r\n        \r\n        .info-label {\r\n            color: #4a5568;\r\n            font-weight: 600;\r\n            font-size: 0.85em;\r\n            text-transform: uppercase;\r\n            letter-spacing: 0.5px;\r\n            margin-bottom: 6px;\r\n            display: block;\r\n        }\r\n        \r\n        .info-value {\r\n            color: #1a365d;\r\n            font-weight: 600;\r\n            font-size: 1.05em;\r\n            word-break: break-word;\r\n        }\r\n        \r\n        /* === PRIORITY BADGE - ENHANCED === */\r\n        .priority-container {\r\n            display: inline-flex;\r\n            align-items: center;\r\n            gap: 8px;\r\n        }\r\n        \r\n        .badge { \r\n            padding: 8px 16px; \r\n            border-radius: 20px; \r\n            font-weight: 700;\r\n            font-size: 0.82em;\r\n            text-transform: uppercase;\r\n            letter-spacing: 0.8px;\r\n            display: inline-flex;\r\n            align-items: center;\r\n            gap: 6px;\r\n            white-space: nowrap;\r\n        }\r\n        \r\n        .badge-high { \r\n            background: linear-gradient(135deg, #c53030 0%, #e53e3e 100%); \r\n            color: white;\r\n            box-shadow: 0 2px 6px rgba(197, 48, 48, 0.2);\r\n        }\r\n        \r\n        .badge-medium { \r\n            background: linear-gradient(135deg, #d69e2e 0%, #ed8936 100%); \r\n            color: white;\r\n            box-shadow: 0 2px 6px rgba(214, 158, 46, 0.2);\r\n        }\r\n        \r\n        .badge-low { \r\n            background: linear-gradient(135deg, #38a169 0%, #48bb78 100%); \r\n            color: white;\r\n            box-shadow: 0 2px 6px rgba(56, 161, 105, 0.2);\r\n        }\r\n        \r\n        .badge-icon {\r\n            font-size: 1.1em;\r\n        }\r\n        \r\n        /* === DESCRIPTION SECTION - DISTINCT STYLE === */\r\n        .description-section {\r\n            margin: 28px 0;\r\n            background: #ffffff;\r\n            border: 1px solid #e2e8f0;\r\n            border-radius: 10px;\r\n            overflow: hidden;\r\n            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);\r\n        }\r\n        \r\n        .description-header {\r\n            background: linear-gradient(135deg, #4c51bf 0%, #667eea 100%);\r\n            color: white;\r\n            padding: 16px 20px;\r\n            font-weight: 600;\r\n            font-size: 0.95em;\r\n            text-transform: uppercase;\r\n            letter-spacing: 0.8px;\r\n            display: flex;\r\n            align-items: center;\r\n            gap: 10px;\r\n        }\r\n        \r\n        .description-content {\r\n            padding: 20px;\r\n            background: #fafbff;\r\n            color: #2d3748;\r\n            line-height: 1.7;\r\n            font-size: 0.95em;\r\n            white-space: pre-wrap;\r\n            word-wrap: break-word;\r\n            border-top: 1px solid #e2e8f0;\r\n        }\r\n        \r\n        .description-content p {\r\n            margin: 0 0 12px 0;\r\n        }\r\n        \r\n        .description-content p:last-child {\r\n            margin-bottom: 0;\r\n        }\r\n        \r\n        /* === TIMEZONE INFO === */\r\n        .timezone-info {\r\n            background: #f0fff4;\r\n            border-radius: 8px;\r\n            padding: 14px 16px;\r\n            margin: 16px 0 24px 0;\r\n            border: 1px solid #c6f6d5;\r\n            display: flex;\r\n            align-items: center;\r\n            gap: 12px;\r\n            font-size: 0.9em;\r\n        }\r\n        \r\n        .timezone-icon {\r\n            font-size: 1.2em;\r\n            color: #38a169;\r\n            margin-right: 8px;\r\n        }\r\n        \r\n        /* === ACTION PANEL === */\r\n        .action-panel {\r\n            background: linear-gradient(135deg, #ebf8ff 0%, #e6fffa 100%);\r\n            border-radius: 10px;\r\n            padding: 20px;\r\n            margin: 24px 0;\r\n            border: 1px solid #c6f6d5;\r\n        }\r\n        \r\n        .action-title {\r\n            color: #1a365d;\r\n            font-weight: 700;\r\n            margin-bottom: 12px;\r\n            display: flex;\r\n            align-items: center;\r\n            gap: 10px;\r\n            font-size: 1.1em;\r\n        }\r\n        \r\n        .sla-info {\r\n            background: white;\r\n            border-radius: 6px;\r\n            padding: 16px;\r\n            margin-top: 16px;\r\n            border: 1px solid #e2e8f0;\r\n        }\r\n        \r\n        .sla-item {\r\n            display: flex;\r\n            justify-content: space-between;\r\n            padding: 8px 0;\r\n            border-bottom: 1px solid #f7fafc;\r\n            font-size: 0.9em;\r\n        }\r\n        \r\n        .sla-item:last-child {\r\n            border-bottom: none;\r\n        }\r\n        \r\n        /* === FOOTER - MOBILE FIRST === */\r\n        .footer {\r\n            background: #1a365d;\r\n            color: #a0aec0;\r\n            padding: 24px 20px;\r\n            text-align: center;\r\n            border-top: 1px solid #2d3748;\r\n        }\r\n        \r\n        .dashboard-link {\r\n            display: block;\r\n            margin: 20px 0;\r\n            text-align: center;\r\n        }\r\n        \r\n        .dashboard-btn {\r\n            display: inline-block;\r\n            background: linear-gradient(135deg, #4299e1 0%, #3182ce 100%);\r\n            color: white !important; /* FORCE WHITE TEXT */\r\n            text-decoration: none;\r\n            padding: 12px 28px;\r\n            border-radius: 8px;\r\n            font-weight: 600;\r\n            font-size: 0.95em;\r\n            transition: all 0.3s ease;\r\n            box-shadow: 0 4px 12px rgba(66, 153, 225, 0.3);\r\n            text-decoration: none !important; /* REMOVE UNDERLINE */\r\n        }\r\n        \r\n        /* REMOVE ALL LINK COLOR OVERRIDES */\r\n        a:link, a:visited, a:hover, a:active {\r\n            color: inherit;\r\n            text-decoration: none;\r\n        }\r\n        \r\n        .dashboard-btn:hover {\r\n            transform: translateY(-2px);\r\n            box-shadow: 0 6px 16px rgba(66, 153, 225, 0.4);\r\n            color: white !important; /* FORCE WHITE ON HOVER */\r\n        }\r\n        \r\n        .confidential-notice {\r\n            background: rgba(255, 255, 255, 0.1);\r\n            padding: 12px;\r\n            border-radius: 6px;\r\n            margin-top: 20px;\r\n            font-size: 0.85em;\r\n            line-height: 1.5;\r\n        }\r\n        \r\n        /* === TABLET & DESKTOP ENHANCEMENTS === */\r\n        @media (min-width: 480px) {\r\n            .header, .content, .footer {\r\n                padding: 28px 24px;\r\n            }\r\n            \r\n            .info-grid {\r\n                grid-template-columns: repeat(2, 1fr);\r\n                gap: 18px;\r\n            }\r\n        }\r\n        \r\n        @media (min-width: 768px) {\r\n            .header, .content, .footer {\r\n                padding: 32px 30px;\r\n            }\r\n            \r\n            .email-container {\r\n                margin: 30px auto;\r\n                border-radius: 12px;\r\n                overflow: hidden;\r\n                box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);\r\n            }\r\n            \r\n            .info-grid {\r\n                grid-template-columns: repeat(3, 1fr);\r\n                gap: 20px;\r\n            }\r\n            \r\n            .company-logo {\r\n                font-size: 14px;\r\n            }\r\n            \r\n            .incident-tag {\r\n                font-size: 0.85em;\r\n                padding: 6px 16px;\r\n            }\r\n        }\r\n        \r\n        /* === TYPOGRAPHY === */\r\n        h2 {\r\n            margin: 0;\r\n            font-weight: 700;\r\n            font-size: 1.6em;\r\n            letter-spacing: -0.3px;\r\n            line-height: 1.3;\r\n        }\r\n        \r\n        @media (min-width: 480px) {\r\n            h2 {\r\n                font-size: 1.8em;\r\n            }\r\n        }\r\n        \r\n        h3 {\r\n            color: #2d3748;\r\n            font-weight: 600;\r\n            margin: 20px 0 16px 0;\r\n            font-size: 1.2em;\r\n        }\r\n        \r\n        @media (min-width: 480px) {\r\n            h3 {\r\n                font-size: 1.3em;\r\n            }\r\n        }\r\n        \r\n        hr {\r\n            border: none;\r\n            height: 1px;\r\n            background: linear-gradient(to right, transparent, #e2e8f0, transparent);\r\n            margin: 24px 0;\r\n        }\r\n        \r\n        /* === UTILITY CLASSES === */\r\n        .text-center {\r\n            text-align: center;\r\n        }\r\n        \r\n        .mb-16 {\r\n            margin-bottom: 16px;\r\n        }\r\n        \r\n        .mb-24 {\r\n            margin-bottom: 24px;\r\n        }\r\n        \r\n        .mt-24 {\r\n            margin-top: 24px;\r\n        }\r\n    </style>\r\n</head>\r\n<body>\r\n    <div class=\"email-container\">\r\n        <!-- HEADER -->\r\n        <div class=\"header\">\r\n            <div class=\"company-logo\">CORPORATE SECURITY OPERATIONS</div>\r\n            <h2>🔒 Security Incident Alert</h2>\r\n            <div class=\"incident-tag\">INCIDENT ID: {{1.caseId}}</div>\r\n        </div>\r\n        \r\n        <!-- CONTENT -->\r\n        <div class=\"content\">\r\n            <!-- INCIDENT SUMMARY -->\r\n            <div class=\"incident-summary\">\r\n                <h3 style=\"margin-top: 0; color: #1a365d;\">📋 Incident Summary</h3>\r\n                <p style=\"margin: 0; color: #4a5568;\">\r\n                    A new security incident has been reported and requires immediate attention from the security team.\r\n                </p>\r\n            </div>\r\n            \r\n            <!-- PRIORITY & STATUS -->\r\n            <div class=\"info-grid mb-24\">\r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Priority Level</span>\r\n                    <div class=\"priority-container\">\r\n                        {{if(trim(lower(1.priority)) = \"high\"; \"<span class='badge badge-high'><span class='badge-icon'>🚨</span> HIGH PRIORITY</span>\"; if(trim(lower(1.priority)) = \"medium\"; \"<span class='badge badge-medium'><span class='badge-icon'>⚠️</span> MEDIUM PRIORITY</span>\"; \"<span class='badge badge-low'><span class='badge-icon'>📋</span> LOW PRIORITY</span>\"))}}\r\n                    </div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Current Status</span>\r\n                    <div class=\"info-value\">🆕 NEW INCIDENT</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Time Zone</span>\r\n                    <div class=\"info-value\">🌐 {{1.userTimezone}}</div>\r\n                </div>\r\n            </div>\r\n            \r\n            <!-- INCIDENT DETAILS -->\r\n            <h3>📊 Incident Details</h3>\r\n            <div class=\"info-grid mb-24\">\r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Case ID</span>\r\n                    <div class=\"info-value\">{{1.caseId}}</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Reported By</span>\r\n                    <div class=\"info-value\">{{1.reporterName}}</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Department</span>\r\n                    <div class=\"info-value\">{{1.department}}</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Incident Type</span>\r\n                    <div class=\"info-value\">{{1.incidentType}}</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Time Reported</span>\r\n                    <div class=\"info-value\">{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}</div>\r\n                </div>\r\n                \r\n                <div class=\"info-card\">\r\n                    <span class=\"info-label\">Reporter Email</span>\r\n                    <div class=\"info-value\">{{1.reporterEmail}}</div>\r\n                </div>\r\n            </div>\r\n            \r\n            <!-- TIMEZONE INFO -->\r\n            <div class=\"timezone-info\">\r\n                <span class=\"timezone-icon\">🕒</span>\r\n                <span><strong>Local Time Reference:</strong> All times displayed are relative to the reporter's timezone ({{1.userTimezone}}).</span>\r\n            </div>\r\n            \r\n            <!-- INCIDENT DESCRIPTION - DISTINCT SECTION -->\r\n            <div class=\"description-section\">\r\n                <div class=\"description-header\">\r\n                    <span>📝 INCIDENT DESCRIPTION</span>\r\n                </div>\r\n                <div class=\"description-content\">\r\n                    {{1.description}}\r\n                </div>\r\n            </div>\r\n            \r\n            <hr class=\"mt-24\">\r\n            \r\n            <!-- ACTION REQUIRED -->\r\n            <div class=\"action-panel\">\r\n                <div class=\"action-title\">\r\n                    <span>🚨 Action Required</span>\r\n                </div>\r\n                <p style=\"margin: 0 0 16px 0; color: #2d3748;\">\r\n                    This incident requires investigation according to corporate security protocols. \r\n                    Please initiate the incident response procedure immediately.\r\n                </p>\r\n                \r\n                <div class=\"sla-info\">\r\n                    <div style=\"font-weight: 600; color: #2d3748; margin-bottom: 12px;\">⏱️ SLA Guidelines</div>\r\n                    <div class=\"sla-item\">\r\n                        <span>High Priority</span>\r\n                        <span style=\"color: #c53030; font-weight: 600; margin-left:auto;\">≤ 30 minutes</span>\r\n                    </div>\r\n                    <div class=\"sla-item\">\r\n                        <span>Medium Priority</span>\r\n                        <span style=\"color: #d69e2e; font-weight: 600; margin-left:auto;\">≤ 2 hours</span>\r\n                    </div>\r\n                    <div class=\"sla-item\">\r\n                        <span>Low Priority</span>\r\n                        <span style=\"color: #38a169; font-weight: 600; margin-left:auto;\">≤ 4 hours</span>\r\n                    </div>\r\n                </div>\r\n            </div>\r\n            \r\n            <!-- NEXT STEPS -->\r\n            <div style=\"background: #f8fafc; padding: 20px; border-radius: 8px; margin-top: 24px;\">\r\n                <div style=\"font-weight: 600; color: #2d3748; margin-bottom: 12px;\">👉 Next Steps</div>\r\n                <ul style=\"margin: 0; padding-left: 20px; color: #4a5568;\">\r\n                    <li style=\"margin-bottom: 8px;\">Review incident details above</li>\r\n                    <li style=\"margin-bottom: 8px;\">Assign investigation team within SLA timeframe</li>\r\n                    <li style=\"margin-bottom: 8px;\">Update incident status in tracking system</li>\r\n                    <li>Escalate to management if required</li>\r\n                </ul>\r\n            </div>\r\n        </div>\r\n        \r\n        <!-- FOOTER -->\r\n        <div class=\"footer\">\r\n            <div style=\"color: #ffffff; font-weight: 600; margin-bottom: 8px;\">\r\n                Corporate Security Operations Center\r\n            </div>\r\n            <div style=\"font-size: 0.9em; margin-bottom: 16px; color: #ffffff;\">\r\n                24/7 Security Hotline: 1-800-CORP-SEC | Email: <span style=\"color: #ffffff !important;\">security@company.com</span>\r\n            </div>\r\n            \r\n            <!-- CENTERED DASHBOARD BUTTON -->\r\n            <div class=\"dashboard-link\">\r\n                <a href=\"https://penbeam.github.io/security-portal/dashboard.html\" class=\"dashboard-btn\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: white !important; text-decoration: none !important;\">\r\n                    📊 View Security Dashboard\r\n                </a>\r\n            </div>\r\n            \r\n            <hr style=\"background: rgba(255, 255, 255, 0.1); margin: 20px 0;\">\r\n            \r\n            <div class=\"confidential-notice\">\r\n                🔐 <strong>CONFIDENTIALITY NOTICE:</strong> This email contains privileged and confidential information \r\n                intended only for the recipient. Unauthorized disclosure is prohibited.\r\n            </div>\r\n            \r\n            <div style=\"margin-top: 20px; font-size: 0.8em; color: #718096;\">\r\n                © 2024 Corporate Security Department. All rights reserved.<br>\r\n                This is an automated notification. Do not reply to this email.\r\n            </div>\r\n        </div>\r\n    </div>\r\n</body>\r\n</html>",
                "subject": "[ACTION REQUIRED] 🔒 {{if(trim(lower(1.priority)) = \"high\"; \"🚨\"; if(trim(lower(1.priority)) = \"medium\"; \"⚠️\"; \"📋\"))}} Security Incident {{1.caseId}}: {{1.incidentType}} - {{capitalize(trim(1.priority))}} Priority",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 1056,
                    "y": 7,
                    "name": "Sends Emails to Clients"
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "Your Actual Gmail Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": [
            {
                "moduleIds": [
                    5
                ],
                "content": "<p>Sleep module that uses the delay of 10 seconds if there is a traffic on form submission.</p><p></p><p>This prevents the rate limit.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    4
                ],
                "content": "<p>The owner will receive HTML formatted instant email include details of the users enter through the form.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    3
                ],
                "content": "<p>Telegram module, used for receiving instant alerts upon form submission. These alerts not plain text, but professional HTML formatted giving a corporate graded look to each alert.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    2
                ],
                "content": "<p>Main database google sheet, stores all the entries an their respective columns</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    1
                ],
                "content": "<p>A custom webhook, acting as very first module.</p><p>This module is responsible to receive data from the custom form whenever user fills it.</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}